/*HEADER ADAPIVE*/

@media(max-width:1750px)
{
    .header__container
    {
        max-width:1400px;
    }
}
@media(max-width:1450px)
{
    .header__container
    {
        max-width:1200px;
    }
}
@media(max-width:1250px)
{
    .header__container
    {
        max-width:1000px;
    }
}
@media(max-width:1050px)
{
    .header__container
    {
        max-width:900px;
    }
}
@media(max-width:955px)
{
    .header__container
    {
        top:15px;
        flex-direction:column;
        max-width:900px;
    }
    .header__logo
    {
        justify-content: center;
    }
    .header__nav
    {
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .header__nav li
    {
        margin: 0;
        padding: 0px 15px 0px 15px;
    }
    .header__navigation
    {
        justify-content: center;
    }
}
@media(max-width:550px)
{
    .header__nav li
    {
        font-size: 22px;
    }
}
@media(max-width:460px)
{
    .header__nav
    {
        margin:0;
    }
    .header__logo
    {
        font-size: 38px;
    }
    .header__nav li
    {
        font-size: 18px;
    }
}
@media(max-width:390px)
{
    .header__nav
    {
        padding-top:4px;
        margin:0;
    }
    .header__logo
    {
        font-size: 33px;
    }
    .header__nav li
    {
        font-size: 16px;
        padding: 0px 10px 0px 10px;
    }
}


/*PREWIEW ADAPT*/


@media(max-width:1750px)
{
    .container
    {
        max-width:1400px;
    }
}
@media(max-width:1450px)
{
    .container
    {
        max-width:1200px;
    }
}
@media(max-width:1250px)
{
    .container
    {
        max-width:1000px;
    }
    .prewiew
    {
        width:67%;
    }
    .main__img
    {
        top:165px;
        left:75%;
        width:260px;
    }
    .opt__disc br
    {
        display: none;
    }
    .col__tittle
    {
        font-size: 37px;
    }
    .card__disc
    {
        font-size: 20px;
    }
    .contact__btn
    {
        padding: 15px 50px;
        font-size: 22px;
    }
}
@media(max-width:1050px)
{
    .container
    {
        max-width:900px;
    }
    .main__img
    {
        display:none;
    }
    .prewiew
    {
        width:100%;
    }
    .opt__prew
    {
        font-size:35px;
    }
    .opt__disc
    {
        font-size: 22px;
        width:90%;
    }
    .row
    {
        grid-gap:60px;
    }
}
@media(max-width:950px)
{
    .container
    {
        max-width:800px;
    }
    .prewiew__prew , .prewiew__disc
    {
        margin-top:20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .prewiew__btn__area
    {
        margin-top:10px;
        justify-content: center;
    }
    .opt
    {
        top:160px;
        flex-direction:column;
        height: max-content;
    }
    .opt__info
    {
        left:0px;
    }
    .opt__prew
    {
        margin-top:20px;
        justify-content: center;
        text-align: center;
        font-size:35px;
    }
    .opt__disc
    {
        position: relative;
        margin: auto;
        padding-top:15px;
        justify-content: center;
        text-align: center;
        font-size: 22px;
        width:90%;
    }
    .row
    {
        grid-template-columns: repeat(1,1fr);
        grid-gap:150px;
    }
}
@media(max-width:850px)
{
    .container
    {
        max-width:670px;
    }
}
@media(max-width:700px)
{
    .container
    {
        max-width:550px;
    }
    .prewiew
    {
        top:170px;
    }
    .prewiew__prew
    {
        font-size: 40px;
    }
    .prewiew__disc
    {
        font-size: 23px;
    }
    .prewiew__btn
    {
        font-size: 20px;
    }
    .work
    {
        top:300px;
    }
    .card__number
    {
        font-size: 37px;
    }
    .col__tittle
    {
        font-size: 35px;
    }
    .footer__nav li
    {
        font-size: 23px;
        padding: 0px 20px;
    }
}
@media(max-width:580px)
{
    .container
    {
        max-width:460px;
    }
    .prewiew__prew
    {
        font-size: 35px;
    }
    .prewiew__disc
    {
        font-size: 18px;
        line-height: 35px;
    }
    .prewiew__btn
    {
        font-size: 18px;
        padding: 11px 37px 11px 37px;
    }
    .prewiew__btn__area
    {
        margin-top:0px;
    }
    .prewiew__prew , .prewiew__disc
    {
        margin-top:10px;
    }
    .opt
    {
        top:130px;
    }
    .manage__img
    {
        width:150px;
    }
    .opt__prew
    {
        font-size: 30px;
        line-height: 45px;
    }
    .opt__disc
    {
        width:100%;
        font-size: 19px;
    }
    .col__tittle
    {
        font-size: 28px;
    }
    .contact
    {
        top:470px;
    }
    .contact__name
    {
        font-size: 20px;
    }
    .col__telegram
    {
        font-size: 20px;
    }
    .col__whatsapp
    {
        font-size: 20px;
    }
    .col__mail
    {
        font-size: 20px;
    }
    .footer__logo
    {
        font-size:40px;
    }
    footer
    {
        top:630px;
    }
}
@media(max-width:480px)
{
    .container
    {
        max-width:400px;
    }
    .prewiew__prew
    {
        font-size: 30px;
    }
    .prewiew__disc
    {
        font-size: 17px;
        line-height: 28px;
    }
    .prewiew__btn
    {
        margin-top:16px;
        font-size: 16px;
        padding: 7px 30px 7px 30px;
    }
    .prewiew__btn__area
    {
        margin-top:0px;
    }
    .prewiew__prew , .prewiew__disc
    {
        margin-top:0px;
    }
    .opt
    {
        top:70px;
    }
    .manage__img
    {
        width:150px;
    }
    .work
    {
        top:230px;
    }
    .card__disc
    {
        font-size: 18px;
    }
    .card__img
    {
        width:65px;
    }
    .step
    {
        width:60px;
    }
    .leavetate
    {
        width:45px;
    }
    .col
    {
        position: relative;
        margin:auto;
        width:96%;
    }
    .contact__name
    {
        font-size: 20px;
    }
    .footer__nav li
    {
        font-size: 16px;
        padding: 0px 10px;
    }
}
@media(max-width:410px)
{
    .container
    {
        max-width:350px;
    }
    .prewiew__prew
    {
        font-size: 25px;
    }
    .prewiew__disc
    {
        font-size: 14px;
        line-height: 25px;
    }
    .prewiew__btn
    {
        font-size: 14px;
        padding: 5px 25px 5px 25px;
    }
    .prewiew__btn__area
    {
        margin-top:0px;
    }
    .prewiew__prew , .prewiew__disc
    {
        margin-top:0px;
    }
    .opt__prew
    {
        font-size: 25px;
        line-height: 42px;
    }
    .opt__disc
    {
        position: relative;
        padding-top:12px;
        margin:auto;
        width:90%;
        font-size: 17px;
    }
    .work
    {
        top:190px;
    }
    .contact
    {
        top:400px;
    }
}